*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --default-color: #b9bab8;
}
body{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--default-color);
}
.container{
    display: block;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 50%;
    height: 50%;
    border-radius: 10px; 
    
}

h1, h2, .main-container, .result{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

}
h1{
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px;
}